body {
    background-color: #22272e;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #adbac7;
    margin-left: 3%;
    margin-right: 3%;
  }
  .linkp {
    color: #539bf5;
    font-style: italic;
    text-decoration: none;
  }

  /* Título */
  h1 {
    background-color: #2d333b;
    text-align: center;
    font-size: 4em;
    font-weight: 400;
  }
  #titulo {
    color: #768390;
    font-size: 60px;
    font-family: 'Prompt', sans-serif;
  }

  /* Apresentação */
  .apresentas {
    text-align: center;
  }
  .fotoCorpo {
    display: inline-block;
    vertical-align: middle;
    background-color: #2d333b;
    padding: 70px;
    transition: width 1.5s ease-out, height 1.5s ease-out, background-color 1s ease-in;
  }
  .fotoCorpo:hover {
    width: 300px;
    background-color: #22272e;
  }
  .fotoPerfil {
    display: inline-block;
    vertical-align: middle;
    background-color: #2d333b;
    padding: 70px;
    transition: width 1.5s ease-out, height 1.5s ease-out, background-color 1s ease-in;
  }
  .fotoPerfil:hover {
    width: 300px;
    background-color: #22272e;
  }
  .info {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    background-color: #2d333b;
    padding: 70px;
    color: #adbac7;
    font-size: 30px;
    font-style: italic;
    align-items: center;
    transition: background-color 1s ease-in font-weight 0.5s ease-out;
  }
  .info:hover {
    font-weight: bold;
    background-color: #22272e;
  }
  /* Menu Sticky */
  .menu {
    position: sticky;
    top: 0px;
    clear: both;
    padding: 30px;
    background-color: #2d333b;
    border-style: groove;
    border-bottom-right-radius: 60px; 
    border-bottom-left-radius: 60px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .indice a {
    margin: 10px;
    color: #adbac7;
    padding: 10px 30px;
    border-radius: 100px;
    text-decoration: none;
    background-color:  #22272e;
    transition: width 1s ease 0.25s, hight 1s ease, font-size 1s ease;
  }
  .a1 {
    display: inline-block;
  }
  .a2 {
    display: inline-block;
  }
  .a3 {
    display: inline-block;
  }
  .a4 {
    float: right;
  }
  .indice:hover {
    font-size: 30px;
  }
  /* Resto do corpo */
  .lista {
    color: #909dab;
    font-size: 25px;
    font-weight: 400;
    font-style: italic;
  }
  .subT {
    font-size: 2em;
    font-family: 'Prompt', sans-serif;
  }
  .miniT {
    font-size: 30px;
    font-family: 'Prompt', sans-serif;
    font-style: italic;
  }
  